/* ----------------------------------------------- */
/* REUSABE */
/* ----------------------------------------------- */



.row {
    /* max-width: 1140px; */
    margin: 0 auto;
    /* color:#6666ff; */
}

/* ----------------------------------------------- */
/* BASIC COMPONENTS */
/* ----------------------------------------------- */

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html,
body {
    background-color: #fff;
    color: #555;
    font-family: 'Lato', 'Arial', sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
}


h2,
h3{
    text-align: center;
    text-transform: uppercase;
}



/* ----------------------------------------------- */
/* header */
/* ----------------------------------------------- */
header{
    padding-top: 10px;
    padding-bottom: 20px;
   
}


/* company */
.company{
    list-style: none;
    color: #fff;
    font-size: 50px;
    /* padding-top: 30px; */
    padding-left: 20px;
    font-family: 'Limelight', cursive;
}

/* Top nav left */
.topnav-left{
    float: left;
    display: block;
    width:50%;
}

/* Style the navbar */
.topnav-right {
    overflow: hidden;
    /* padding: 40px; */
  }

  /* Style the input container */
.topnav-right .login-container {
    float: right;
  }
  
  /* Style the input field inside the navbar */
  .topnav-right input[type=text] {
    padding: 6px;
    margin-top: 8px;
    color: black;
    border: none;
    width: 150px; /* adjust as needed (as long as it doesn't break the topnav) */
  }
 
  /* Style the button inside the input container */
  .topnav-right .login-container button {
    float: right;
    padding: 6px;
    margin-top: 8px;
    margin-right: 16px;
    background: #ddd;
    border: none;
    cursor: pointer;
  }

  button{
    margin-left: 3px;
    padding: 7px;
    border-radius: 3px;
    border: 1px solid #ccc;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
}
  
  .topnav-right .login-container button:hover {
    background: #6666ff;
    color: white;
  }


  .rad{
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
}


/* -------------------- */
/* SIGN UP */
/* -------------------- */



.section-form{
   padding: 40px;
}
.sign{
  background-image: url(img/backl.jpg), linear-gradient(rgba(251, 123, 172, 1.0), rgba(251, 123, 172, 1.0));
  background-size: contain; 
  background-repeat:no-repeat;
}


.log{
  background-image: url(img/backlogin.png), linear-gradient(rgba(254, 236, 58, 1.0), rgba(254, 236, 58, 1.0));
  background-size: contain; 
  background-repeat:no-repeat; 
}

.section-form h3{
  color: white;
  font-size: 35px;
  font-weight: 900;
}

.contact-form {
   width: 30%;
   max-width:350px ;
   margin: 0 auto;
   margin-left: 60%;
   padding: 50px;
   border-color: #bbb;
   border-style: solid;
   border-radius: 10px;
   -webkit-border-radius: 10px;
   -moz-border-radius: 10px;
   -ms-border-radius: 10px;
   -o-border-radius: 10px;
}


input[type=text],
input[type=email],
input[type=password], 
input[type=date],
select {
    width: 100%;
    text-align: center;
    padding: 7px;
    border: 1px solid #ccc;
    
}



::-webkit-input-placeholder{
  text-align: center;
}

:-moz-placeholder {
  text-align: center;
}


#name,
#date,
#gender,
#email,
#password,
#username {
  border:none;
  border-bottom: 1px solid #bbb;
}



#submit,
#submit:link,
#submit:visited,
#submit:hover,
#submit:active {
  padding: 5px;
  text-align: center;
  border-color: #6666ff;
  color: white;
  background-color:#6666ff;
  font-weight: 800;
  font-size: 25px;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}



*:focus {outline: none;}

input:focus{
  color:#6666ff ;
}

:focus::-webkit-input-placeholder{
  color: #6666ff;
}

/*   To center Date (date picker does not appear)   */

input[type=date]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  display: none;
}

input[type=date]::-webkit-calendar-picker-indicator{
  -webkit-appearance: none;
    display: none;
}



select{
  text-align-last: center;
  /* color: #6666ff; */
}

/* -------------------- */
/* FOOTER */
/* -------------------- */

footer{
    background-color: #6666ff;
    padding: 10px;
    padding-bottom: 15px;
   
}

footer p{
    text-align: left;
    color:white;
    margin-top: 20px;

}






/*video*/
#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
  }


  .content1 {
    /* top: 0;
    background: rgba(0, 0, 0, 0.6);
    color: #f1f1f1;
    width: 100%;
    padding: 20px;
    position: fixed;
    background-color: #6666ff; */
    background-color:rgb(102,102,255);
  }

 

  .content3 {
    /* color:rgb(102,102,255); */
    background-color:rgb(102,102,255 ); 
  }




/* -------------------- */
/* LOGIN PAGE */
/* -------------------- */

  .log-Form {
    padding: 85px;
  }

  #log{
    padding-bottom: 65px;
  }
  #chk{
    color:white;
  }

  .contact-form a{
    color: white;
  }

/* .content4{
    bottom: 0;
    background: rgba(0, 0, 0, 0.6);
    color: #f1f1f1;
    width: 100%;
    padding: 20px;
    position: fixed; 
    
    opacity: 0.6;
    color:rgba(0,0,0,0.6)
}


input[type=checkbox] {
    margin: 10px 5px 10px 0;
}


#chk input{
    width:2%;
} */




/* -------------------- */
/* HOME PAGE */
/* -------------------- */


/* Home Page Nav Bar */
.home{
  background-color: #6666ff;
  margin: 0px;
  padding: 0px; 
  height: 60px;
}

 .sidenav {
  /* z-index: 1;
  top: 0;
  left: 0; 
  width: 100%; */
  margin: 15px;
  /* border: 1px solid #6666ff;
  background-color:white; */
  overflow-x: hidden;
  padding-top: 20px;
  border-radius:5px;
  -webkit-border-radius:5px;
  -moz-border-radius:5px;
  -ms-border-radius:5px;
  -o-border-radius:5px;
}

.sidenav img{
  height: 20px;
  margin-right:5px;
}

.sidenav a {
  padding: 3px 3px 3px 32px;
  text-decoration: none;
  font-size: 23px;
  color:black;
  display: block;
}

.sidenav a ul{
  color: #6666ff;
}

.sidenav a:hover{
  /* color: #6666ff; */
  padding-left: 50px;
  background-color: #9090ff;
}

/* .sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
} */

#mysidenav{
  padding-top:0px ;
}


#home-l{
  text-align:left;
  display: block;
  width:30%;
  float: left;
  padding:0px;
}

.comp{
  padding-top: 5px;
  font-size: 40px;
}

.home-rad{
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

#search{
  margin-top: 12px;
  width: 250px;
}

#search-icon{
  padding: 2px;
  margin-top: 12px;
  margin-left: 0;
  border-radius:0;
  -webkit-border-radius:0;
  -moz-border-radius:0;
  -ms-border-radius:0;
  -o-border-radius:0;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}


.ion-search{
  padding: 2px; 
}


/* Tab List */

.tab-list{
  list-style: none;
}

.tab-list li{
  display: inline;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 15px;
  margin-right:5px;
  margin-left:5px;
}

.tab-list img{
  height: 20px;
  width: 20px;
  margin: 5px;
}

.tab-list img:hover{
  height: 28px;
  width: 28px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 150px;
  margin-top: 20px;
  margin-left: 590px; 
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 4px 5px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content img{
  height: 18px;
  margin: 0px;
  margin-right: 5px;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.show {
  display: block;
}

.home-chat {
  margin: 15px;
  border: 1px solid #6666ff;
  background-color:white;
  border-radius:5px;
  -webkit-border-radius:5px;
  -moz-border-radius:5px;
  -ms-border-radius:5px;
  -o-border-radius:5px;
}

.home-chat img{
  height: 65px;
  padding: 5px;
  padding-top: 10px;
}

.home-chat img:hover{
  height: 80px;
  width: 80px;
}



.post{
  background: #b3b3ff;
  color: white;
  margin-bottom: 20px;
  border:1px solid #6666ff;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.post-l img{
  width: 100%;
  margin-top: 15px;
  border-radius:10px;
  -webkit-border-radius:10px;
  -moz-border-radius:10px;
  -ms-border-radius:10px;
  -o-border-radius:10px;
}

.post-l p{
  margin-bottom: 5px;
  text-align: center;
  font-weight: bold;
}

.post-r p{
  margin-top: 15px; 
  font-weight: bold;
}

.post-tab{
  padding:0 10px 0 10px;
  background-color:#6666ff;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.post-tab-li{
  margin-bottom: 15px;
  display: contents;
  list-style: none;
}

.react-disp{
  list-style: none;
  margin-top: 15px;
  display:-webkit-box;
}

.react-disp img{
  height: 50px;
  width: 60px;
  padding: 0 10px;
}


/* -------------------- */
/* PROFILE PAGE */
/* -------------------- */

#social1,
#social2{
  display: none;
}

#network{
  display: none;
}


.backg{
  background-color: #e6e6ff;
}

.sidenavp a{
  margin: 5px;
  padding: 3px 3px 3px 25px;
}


.search1{
  margin-bottom: 10px;
}


/* Chat  */  
.online {
  /* min-width: 250px; */
  /* float: right; */
  top: 0;
  /* margin: 15px; */
  margin-top: 15px;
  border: 1px solid #6666ff;
  background-color:white;
  overflow-x: hidden;
  border-radius:5px;
  -webkit-border-radius:5px;
  -moz-border-radius:5px;
  -ms-border-radius:5px;
  -o-border-radius:5px;
}


.online img{
  height: 30px;
}

.online a {
  padding: 5px 3px 5px 32px;
  padding-left: 5%;
  text-decoration: none;
  font-size: 25px;
  color:black;
  display: block;
}

.online a:hover{
  color: #6666ff;
}

#online{
  color: green;
  margin-right:5px;
}

#offline{
  
  margin-right:10px;
}

#chat h3{
  text-align: center;
  margin: 20px;
}




#profile-main{
  margin-left: 0px;
  /* top:0;
  left: 25%; */

}


.profile-photo{
  margin: 15px;
  height: 250px; 
  /* width: 810px;  */
  border-radius:5px;
  -webkit-border-radius:5px;
  -moz-border-radius:5px;
  -ms-border-radius:5px;
  -o-border-radius:5px;
}

.profile-photo img{
  height: 230px;
  /* width: 810px; */
}


.slider-wrapper {
	width: 100%;
	height: 400px;
	position: relative;
}

.slide {
	float: left;
	position: absolute;
	width: 100%;
	height: 100%;
	opacity: 0;
	/* transition: opacity 3s linear;
	-webkit-transition: opacity 3s linear;
	-moz-transition: opacity 3s linear;
	-ms-transition: opacity 3s linear;
	-o-transition: opacity 3s linear; */
}

.slider-wrapper > .slide:first-child {
	opacity: 1;
}




.profile-info {
  margin: 15px;
  padding: 10px 0 10px 25px;
  /* width: 810px;  */
  
}


#lab{
  margin-left:100%;
}



.profile-info p{
  
  margin-right: 0%;
  margin-left: 14%;
  font-weight:bold;
  width: 80%;
}

.profile-box{
  margin-bottom: 50px;
  margin-right: 15px;
}

.profile-box a{
  color: white;
}

.profile-box li{
  text-align: center;
  background-color: #6666ff;
}

.profile-box a:hover,
.profile-box a:active{
  color: black;
}

.profile-box img{
  height: 25px;
  padding-right: 10px;
  padding-bottom: 5px; 
}

button a{
  color:white;
  text-decoration: none; 
}

.friends {
  position: relative;
  width: 22%;
  display: inline-block;
  margin:8px; 
  /* margin-top: 20px; */
}

.friends .image {
  /* margin-bottom: 20px; */
  height: 180px;
  opacity: 1;
  display: block;
  height: 60%;
  /* width: 100%; */
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}


.overlay {
  position: absolute;
  bottom: 0;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5);
  /*Blacksee-through*/color: #f1f1f1;
  width: 100%;
  transition: .5s ease;
  opacity:0;
  color: white;
  font-size: 20px;
  padding: 20px;
  text-align: center;
  opacity: 1;
  -webkit-transition: .5s ease;
  -moz-transition: .5s ease;
  -ms-transition: .5s ease;
  -o-transition: .5s ease;
}




.buttons {
  margin: 2%;
  margin-bottom: 5%;
  text-align: center;
}

.btn-hover {
  width: 40%;
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
  margin: 20px;
  height: 55px;
  text-align:center;
  border: none;
  background-size: 300% 100%;

  border-radius: 50px;
  -moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.btn-hover:hover {
  background-position: 100% 0;
  -moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.btn-hover:focus {
  outline: none;
}

.btn-hover.color-1 {
  /* background-image: linear-gradient(to right, #25aae1, #40e495, #30dd8a, #2bb673); */
  background-image: linear-gradient(to right,#00ffff , #00ccff, #0099ff, #0066ff);
  box-shadow: 0 4px 15px 0 rgba(49, 196, 190, 0.75);
}

.sidenav .sideNet{
  color: white;
}


/* -------------------- */
/* Networkx Profile Page */
/* -------------------- */

.home-networkprf{
  background-color: #1a75ff;
  overflow: hidden;
}

/* .home-networkprf nav{
  width: 30%;
}

.middle{
  width: 40%;
  float: left;
}
.home-networkprf a{
  margin:40px 20px;
}

#search1{
  margin-top: 10px;
  width:50%;
}

#search-icon1{
  padding:7px 4px 3px 4px;
  margin-left: -4px;
  border-radius:0;
  -webkit-border-radius:0;
  -moz-border-radius:0;
  -ms-border-radius:0;
  -o-border-radius:0;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

.net-right{
  width:30%;
  float: right;
 
} */

.section-networkprf{
  /* background-color: #d1b3ff; */
  /* background-image: url("img/bg.jpg");
  background-repeat: no-repeat;
  background-size: cover; */
  background-color: #e6f5ff;
}


.hero-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("img/dp.jpg");
  width: 60%;
  margin: 0 20% 0 20%;
  height: 400px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

#nnpp{
  margin-top: 50px;
}

.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}

.linkprf-info{
  margin:50px 0 0 0;
  width: 100%;
  background-color: white;
  border: 1px solid white;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.linkprf-hd{
  /* border-bottom: 1px solid black; */
  text-align: center;
  text-transform: capitalize;
  font-size: 30px;
  -moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
  background-image: linear-gradient(to right, #25aae1, #40e495, #30dd8a, #2bb673);
  box-shadow: 0 4px 15px 0 rgba(49, 196, 190, 0.75);
}

.linkprf-hd:hover{
  background-image: linear-gradient(to left, #25aae1, #40e495, #30dd8a, #2bb673);
}

.linkprf-det{
  list-style: none;
  width: 90%;
  margin: 20px 5% 20px 5%;
}

.linkprf-det li{
  /* border: 1px solid black; */
  color:black;
  margin-bottom: 20px; 
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  /* background-image: linear-gradient(to right, #0ba360, #3cba92, #30dd8a, #2bb673);*/
  box-shadow: 0 4px 15px 0 rgba(240, 230, 255, 0.75); 
  background-color: #b3e0ff;
}

.linkprf-det p{
  padding-left: 40px; 
}

.empty{
  height: 500px;
  margin-left: 5%;
  margin-right: 5%;
  width: 90%;
  background-color: #e6f5ff;
  margin-top:25px;
  border: 1px solid #0000e6;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}


#icNet{
  height: 30px;
  width: 30px;
}

/* .timeline{
  padding-top: 50px;
}

.timeline img{
  width:100%;
  height: 80%;
} */

/* -------------------- */
/* Networkx Home Page */
/* -------------------- */

.hnhome{
  /* background-image: url(img/bg.jpg);
  background-repeat: no-repeat;
  background-size: cover; */
  height: 700px;
  background: #e6f5ff;
}

.bbb1{
  
  background-image: linear-gradient(to right, #25aae1, #40e495, #30dd8a, #2bb673);
}

#datesld{
  list-style: none;
}

.datesl{
  width: 18%;
  background:#003399;
  color: white;
  padding: 5px;
  margin: 0.5%;
  display: inline-block;
}

.datesl:hover{
background: blue;
}

.datesl p{
  margin: 0px;
}

.dt{
  font-size: 40px;
}

/* -------------------- */
/* Connectx Page */
/* -------------------- */

.network-img img{
  width: 60%;
  margin: 20px 20% 20px 20%;
  height: 300px;
}

.clg{
  margin-top: 40px;
  width: 88%;
}

.clgsub{
  text-align: center;
  color:black;
  height: 100px;
  padding-top: 30px;
}

.clgsub:hover {
  font-size: 25px;
}

.cl1{
  background-color:#ff784d;
}
.cl2{
  background-color: #ffff80;
}
.cl3{
  background-color:#9fff80;
}
.cl4{
  background-color:#b3ffff;
  padding-top: 20px;
}
.cl4:hover {
  padding-top: 13px;
}

.cl5{
  background-color:#ff99ff;
}
.cl6{
  background-color:#ff8080;
}

.clgbasic{
  height: 520px;
  width: 88%;
  margin-bottom: 50px;
  margin-left: 6%;
  /* display: none; */
}

.clgnews,
.clgadm,
.clgbdm,
.clgalm,
.clgcont {
  display: none;
}

.clgdeptjs{
 display: none;
}


.mapouter{
  position:relative;
  text-align:right;
  /* height:500px;
  width:600px; */
}
.gmap_canvas {
  overflow:hidden;
  background:none!important;
  /* height:500px;
  width:600px; */
}
.mapouter iframe{
  padding: 50px;
}

.det{
  top:20%; 
}

.det p{
  margin:50px;
  color:white;
} 

.homebtn{
  width: 20%;
}